@import 'variables.scss';

.Header {
    background: $background-color;
    padding: 2rem 20rem;

    .page-header {
        font-family: $accent-font;
        font-size: 4.8rem;
        margin: 0;
    }

    .submit-form {
        display: flex;
        flex-direction: column;
    }

    .submit-input {
        border: 0.1rem solid $border-color;
        font-size: 1.6rem;
        margin: 1rem 0;
        padding: 0.5rem;
        resize: none;
    }

    .submit-button {
        background-color: $accent-color;
        border: none;
        color: $white;

        &:hover { background-color: $accent-color-hover; }
    }
}

.accent-color {
    color: $accent-color;
}