@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');

//Typefaces
$main-font: 'Open Sans', sans-serif;
$accent-font: 'Roboto Slab', serif;

//Colors
$main-color-dark: #6D6E71;
$main-color-light: #939598;
$accent-color: #00A79D;
$accent-color-hover: #045E55;
$background-color: #E5F3F2;
$border-color: #D1D3D4;
$white: #FFF;